body {
  background: #af2727;
  margin: 0;
  font-family: sans-serif;

  padding: 150px;
}

#select {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  width: 220px;
}

.selectContainer {
  margin: 5px;
  background: #fff;
  width: 220px;
  height: 25px;
  border: 2px solid #000;

  position: relative;
  cursor: pointer;
}

.selectBox {
  width: 220px;
  height: 0px;
  /* height: 160px; */

  background: #fff;
  overflow: hidden;
  overflow-y: scroll;
}

.closeSelectBox {
  height: 0;
  animation: closeSB 0.2s;
}

.openedSelectBox {
  height: 160px;
  animation: openSB 0.2s;
}

.triangle {
  position: absolute;
  top: 10px;
  right: 6px;
  border: 6px solid transparent;
  border-top: 8px solid #000;
}

.textView {
  margin-top: 3px;
  margin-left: 3px;
  padding-right: 25px;

  user-select: none;
}

.triangle-rotate {
  top: 2px;
  transform: rotate(180deg);
}

.option {
  width: 100%;
  word-break: break-all;

  border: 1px solid #000;
  padding: 3px 2px;
  margin: 3px 0;
  user-select: none;
  cursor: pointer;

  transition: all 0.2s;
}

.option:hover {
  color: #fff;
  background: #000;
}

.option:last-child {
  margin: 0;
}

.option:first-child {
  margin: 0;
}

@keyframes openSB {
  0% {
    height: 0px;
  }

  100% {
    height: 160px;
  }
}

@keyframes closeSB {
  0% {
    height: 160px;
  }

  100% {
    height: 0px;
  }
}